/* table */
table {
  font-size: 12px;
   width: 100%;
}

table th {
    white-space: nowrap;
    text-align: center;
	vertical-align: middle;
}

.th-input-size{
	width: 200px;
}
.th-checkbox-s-size{
	width: 20px;
}

.th-checkbox-size{
	width: 25px;
}

table td {
    text-align: center;
	vertical-align: middle;
}


/*スクロール用*/
thead#scrollHead, tbody#scrollBody {
  display: block;
}

tbody#scrollBody {
  overflow-y: scroll;
  height: 600px;
}

.check_table .hover_tr td,
.radio_table .hover_tr td {
  background-color: #fff1a5;
  color: #333;
}
.check_table .checked_tr td,
.radio_table .checked_tr td {
  background-color: #fff1a5;
}
